Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/ApplicationUserProfileProperty.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/core/application_user_profile_property" xmlns="http://ei/core/application_user_profile_property">
	<xsd:complexType name="ApplicationUserProfileProperty">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="UserProfilePropertyName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This application contains the name of a user profile property.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="UserProfilePropertyValue" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This application contains the value of a user profile property.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DataSourceName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains the name of the data source.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="ApplicationUserProfileProperty" type="ApplicationUserProfileProperty"/>
</xsd:schema>