Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/CustomizationX1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/core/customizationx1" xmlns="http://ei/core/customizationx1">
	<xsd:complexType name="Customization">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="CustomizationTypeReferenceCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element is abstract and would contain a code to indentify the type of data in the code or value elements.


</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CustomizationCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element is abstract and can contain any type of code, the type of the code would be specificied in the customization name element.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CustomizationName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element is abstract and would contain the name for the code or value specified in the other elements.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CustomizationValue" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element is abstract and would contain the value associated with the name or code provided.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CustomizationDate" type="xsd:date">
				<xsd:annotation>
          <xsd:documentation>This element is abstract and would contain the date associated with the name.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CustomizationIndicator" type="xsd:boolean">
				<xsd:annotation>
          <xsd:documentation>This element is abstract and would contain the indicator associated with the name.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="Customization" type="Customization"/>
</xsd:schema>