Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/ExtendedProducerX3.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/producer/extended_producerx3" xmlns="http://ei/producer/extended_producerx3" xmlns:bons0="http://ei/producer/producerx4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
		<xsd:import namespace="http://ei/producer/producerx4" schemaLocation="ProducerX4.xsd"/>

	<xsd:complexType name="ExtendedProducer">
		<xsd:complexContent>
			<xsd:extension base="bons0:Producer">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ProducerCommercialCancelAndUseDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation>This element contains the effective date of the "ProducerCommericalCancelUseNumber" element.</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerCommercialCancelAndUseNumber" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This element contains the new Commercial Producer Number after another Producer has been cancelled.
</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerCommercialCancelAndUseSubNumber" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This element contains the new Commercial ProducerSubNumber after another Sub-Producer has been cancelled.</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerPersonalCancelAndUseDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation>This element contains the effective date of the "ProducerPersonalCancelUseNumber" element.</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerPersonalCancelAndUseNumber" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This element contains the new Personal Producer Number after another Producer has been cancelled.
</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerPersonalCancelAndUseSubNumber" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This element contains the new Personal ProducerSubNumber after another Sub-Producer has been cancelled.</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerBothCancelAndUseDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation>This element contains the effective date of the "ProducerBothCancelUseNumber" element.</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerBothCancelAndUseNumber" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This element contains the new Producer Number for both Commercial and Personal lines after another Producer has been cancelled.</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="ProducerBothCancelAndUseSubNumber" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>This element contains the new ProducerSubNumber for both Commercial and Personal lines after another Sub-Producer has been cancelled.</xsd:documentation>
            </xsd:annotation>
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
<xsd:element name="ExtendedProducer" type="ExtendedProducer"/>
</xsd:schema>