Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/GetCommercialInsuredGroupPolicyListReply.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/crm/get_commercial_insured_group_policy_list_reply_crm33x1" xmlns="http://ei/crm/get_commercial_insured_group_policy_list_reply_crm33x1" xmlns:bons0="http://ei/crm/commercial_insured_group_with_policy_term" xmlns:bons1="http://ei/core/status_informationx2">

	<xsd:import namespace="http://ei/core/status_informationx2" schemaLocation="StatusInformationX2.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/crm/commercial_insured_group_with_policy_term" schemaLocation="CommercialInsuredGroupWithPolicyTerm.xsd">
	</xsd:import>
	<xsd:complexType name="GetCommercialInsuredGroupPolicyListReply">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="CommercialInsuredGroupWithPolicyTerm" type="bons0:CommercialInsuredGroupWithPolicyTerm">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons1:StatusInformation">
			</xsd:element>

			<xsd:element name="MoreDataAvailable" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>This element is used to indicate if more data is available that is not being returned.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetCommercialInsuredGroupPolicyListReply" type="GetCommercialInsuredGroupPolicyListReply"/>
</xsd:schema>