Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/GetFilteredProducerListInputs.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/producer/get_filtered_producer_list_inputs_prd2x6" xmlns="http://ei/producer/get_filtered_producer_list_inputs_prd2x6" xmlns:bons1="http://ei/core/policy_type_identifierx1" xmlns:bons2="http://ei/core/producer_identifierx4">
	<xsd:import namespace="http://ei/core/producer_identifierx4" schemaLocation="ProducerIdentifierX4.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/policy_type_identifierx1" schemaLocation="PolicyTypeIdentifierX1.xsd">
	</xsd:import>

	<xsd:complexType name="GetFilteredProducerListInputs">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProducerIdentifier" type="bons2:ProducerIdentifier">
				<xsd:annotation>
          
        </xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="PolicyTypeIdentifier" type="bons1:PolicyTypeIdentifier">
				<xsd:annotation>
          
        <xsd:documentation> </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetFilteredProducerListInputs" type="GetFilteredProducerListInputs"/>
</xsd:schema>