Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/GetPolicyContactListByDefinedRoleInputs.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/corporate/get_policy_contact_list_by_defined_role_inputs_crp30x1" xmlns="http://ei/corporate/get_policy_contact_list_by_defined_role_inputs_crp30x1" xmlns:bons0="http://ei/corporate/underwriterx1" xmlns:bons1="http://ei/corporate/underwriter_assistantx1" xmlns:bons2="http://ei/corporate/account_service_representativex1" xmlns:bons3="http://ei/corporate/customer_service_representativex1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://ei/corporate/customer_service_representativex1" schemaLocation="CustomerServiceRepresentativeX1.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/corporate/account_service_representativex1" schemaLocation="AccountServiceRepresentativeX1.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/corporate/underwriter_assistantx1" schemaLocation="UnderwriterAssistantX1.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/corporate/underwriterx1" schemaLocation="UnderwriterX1.xsd">
	</xsd:import>
	<xsd:complexType name="GetPolicyContactListByDefinedRoleInputs">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Underwriter" type="bons0:Underwriter">
			</xsd:element>
			<xsd:element minOccurs="0" name="UnderwriterAssistant" type="bons1:UnderwriterAssistant">
			</xsd:element>
			<xsd:element minOccurs="0" name="AccountServiceRepresentative" type="bons2:AccountServiceRepresentative">
			</xsd:element>
			<xsd:element minOccurs="0" name="CustomerServiceRepresentative" type="bons3:CustomerServiceRepresentative">
			</xsd:element>
			<xsd:element minOccurs="0" name="PolicyNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element identifies an insurance contract.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="PolicyTypeCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
This element identifies the type of the insurance contract with a code.
The Corporate table E1T00221 contain the valid values for this element in the "POL_TY_C" column.
</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="PolicyTypeSubCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>						
The element is used to divide Policy Type Code in order to provide more categories for some insurance contracts.  This is also known as PolicySubTypeCode.
The Corporate table E1T00221 contain the valid values for this element if the "POL_SUB_TY_C" column.					
							</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="BranchNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
This element specifies the number of the Chubb office that receives premium credit for a policy.
The E1T00031 Corporate Table contains valid values for this element in the "BR_LOC_N" column.
						</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsurerProductCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element identifies a product that the Chubb offers to its Insureds/Customers.
Values for this element are available in the Product Catalog.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="StrategicBusinessUnitCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element identifies a business unit within Chubb as defined in corporate
table E1T01181.  Valid values are numeric codes representing  ABL, CCI, CPI, 
CSI, SUR and CSF. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="OfferingNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>					
This element is a unique identifier for each policy or submission in the Client / WIP system.
							</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="MarketingProductGroupCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains a code that  identifies a Product Group that has been defined from a Marketing perspective.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactTypeAbbreviation" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains a code which identifies the type of contact that an individual is in relation to the business.   
Valid values  for this element can be found in application specific reference tables or in the Enterpise Business Party Role Code table (E1T01611).</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetPolicyContactListByDefinedRoleInputs" type="GetPolicyContactListByDefinedRoleInputs"/>
</xsd:schema>