Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/GetProducingBranchListRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/corporate/get_producing_branch_list_request_crp2x1" xmlns="http://ei/corporate/get_producing_branch_list_request_crp2x1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="GetProducingBranchListRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SystemId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element identifies internal/external sources of information.
This is also known as the System Source Code. 
The Corporate table E1T00871 contains the valid values for this element in the "SYS_SRC_C"  column.
</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="UserId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element is used to sign on to an application.  
This is also known as RACFId.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ServiceConsumerSystemId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element identifies internal/external sources of information, from the system that directly invokes an ICC service.
This is also known as the System Source Code. 
The Corporate table E1T00871 contains the valid values for this element in the "SYS_SRC_C"  column. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CountryCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
This element is a code for a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "CNTRY_C" column. 
				</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="AsOfDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>This element contains the search start date.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetProducingBranchListRequest" type="GetProducingBranchListRequest"/>
</xsd:schema>