Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/GetProductListReply.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/product/get_product_list_reply_pdt1x1" xmlns="http://ei/product/get_product_list_reply_pdt1x1" xmlns:bons0="http://ei/core/product" xmlns:bons1="http://ei/core/status_informationx2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://ei/core/status_informationx2" schemaLocation="StatusInformationX2.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/product" schemaLocation="Product.xsd">
	</xsd:import>
	<xsd:complexType name="GetProductListReply">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Product" type="bons0:Product">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons1:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetProductListReply" type="GetProductListReply"/>
</xsd:schema>