Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/IndividualIdentifierX1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/core/individual_identifierx1" xmlns="http://ei/core/individual_identifierx1">


	<xsd:complexType name="IndividualIdentifier">
		<xsd:sequence>




			<xsd:element minOccurs="0" name="SocialSecurityNumber" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains a person's federally issued social security number.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="IndividualBirthDate" type="xsd:date">
				<xsd:annotation>
          <xsd:documentation>This element contains the date the individual was born.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="GenderCode" type="xsd:string">
				<xsd:annotation>
          
        <xsd:documentation>This element contains a code that identifies the gender of the individual.
The E1T01621 Corporate Table contains valid values for this element in the 'GENDER_C' column. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DriverLicenseNumber" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the number issued by a state's Department of Motor Vehicle for a driver’s license.

</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="OccupationDescription" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains a short description of an individual's occupation.

</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="IndividualsAge" type="xsd:int">
				<xsd:annotation>
          <xsd:documentation>This element contains a person's age.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DriverPostalStateAbbreviation" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the abbreviation of the state or province where the principal driver's license was issued.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DriverStateOrProvinceName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the name of the state or province where the principal driver's license was issued.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DriverLicenseCountryCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element is a code for a country, nation or political state where the Driver's license was issued.
The E1T00101 Corporate Table contains valid values for this element in the "CNTRY_C" column.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DriverLicenseCountryName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element is a name for a country, nation or political state where the Driver's license was issued.
The E1T00101 Corporate Table contains valid values for this element in the "CNTRY_NA" column.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="EnterpriseGenderCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains a code that identifies the gender of the individual.
The E1T01621 Corporate Table contains valid values for this element in the 'GENDER_C' column.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="IndividualIdentifier" type="IndividualIdentifier"/>
</xsd:schema>