Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/InsurerX1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/core/insurerx1" xmlns="http://ei/core/insurerx1">
	<!-- Insurer -->
	<xsd:complexType name="Insurer">
		<xsd:annotation>
			<xsd:documentation>This business object is information pertaining to the Chubb group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="InsurerName" type="xsd:string">
				<xsd:annotation>
					
				<xsd:documentation>
This element specifies the incorporated, or legal name, of an indivdual company that issues policies within The Chubb Insurance Group (also known as Writing Company Name). 
The E1T00011 Corporate Table contains valid values for this element in the "WTE_CO_NA" or the "WTE_CO_MXC_NA" column.
					</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsurerAbbreviation" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element specifies the abbreviation for an indivdual company that issues policies within The Chubb Insurance Group (also known as Writing Company Abbreviation). 
The E1T00011 Corporate Table contains valid values for this element in the "WTE_CO_AB" column. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsurerNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element specifies the code for an indivdual company that issues policies within The Chubb Insurance Group (also known as Writing Company Code). 
The E1T00011 Corporate Table contains valid values for this element in the "WTE_CO_C" column. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="Insurer" type="Insurer"/>
</xsd:schema>