Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/NameSearchByAllNamesReply.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/crm/name_search_by_all_names_reply_crm4x4" xmlns="http://ei/crm/name_search_by_all_names_reply_crm4x4" xmlns:bons0="http://ei/crm/name_search_by_all_names_outputs_crm4x4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://ei/crm/name_search_by_all_names_outputs_crm4x4" schemaLocation="NameSearchByAllNamesOutputs.xsd">
	</xsd:import>
	<xsd:complexType name="NameSearchByAllNamesReply">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="NameSearchByAllNamesOutputs" type="bons0:NameSearchByAllNamesOutputs">
			</xsd:element>
			<xsd:element minOccurs="0" name="MoreDataAvailableIndicator" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>This element is used to indicate if more data is available that is not being returned.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="NameSearchByAllNamesReply" type="NameSearchByAllNamesReply"/>
</xsd:schema>