Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/ProductionOfficeInformationX1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/crm/production_office_informationx1" xmlns="http://ei/crm/production_office_informationx1" xmlns:bons0="http://ei/core/branchx1" xmlns:bons1="http://ei/producer/producerx4">
	<xsd:import namespace="http://ei/producer/producerx4" schemaLocation="ProducerX4.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/branchx1" schemaLocation="BranchX1.xsd">
	</xsd:import>
	<xsd:complexType name="ProductionOfficeInformation">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ProductionOffice" type="bons0:Branch">
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductionProducer" type="bons1:Producer">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="ProductionOfficeInformation" type="ProductionOfficeInformation"/>
</xsd:schema>