Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/ProducerEnrollmentOptions.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/producer/producer_enrollment_options" xmlns="http://ei/producer/producer_enrollment_options">
	<xsd:complexType name="ProducerEnrollmentOptions">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="EnrollmentOptionCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the code for an option a Producer has elected to partcipate.
The valid values for this element include the following:
CCI01			CCI Alerts with PDFs
CCI02			CCI Alerts (no PDFs)
CCI03			CCI No Alerts or PDFs
CCI04			CCI Direct Bill Commission Download
CLM01			Claims Download
CLM02			Claims Alerts
CPI01			Personal Lines Policy Download
CPI02			CPI Direct Bill Commission Download</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="EnrollmentSelectionDate" type="xsd:date">
				<xsd:annotation>
          <xsd:documentation>This element contains the date that the producer adminstrator chooses a particular enrollment option.
</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="EnrollmentEffectiveDate" type="xsd:date">
				<xsd:annotation>
          <xsd:documentation>The element contains the date the enrollment option takes effect.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="ProducerEnrollmentOptions" type="ProducerEnrollmentOptions"/>
</xsd:schema>