Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/StatusInformationX1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/core/status_informationx1" xmlns="http://ei/core/status_informationx1" xmlns:bons1="http://ei/core/error">
	<xsd:import namespace="http://ei/core/error" schemaLocation="Error.xsd">
	</xsd:import>
	<xsd:complexType name="StatusInformation">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Error" type="bons1:Error">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element specifies a code that identifies the type of error.

Valid values are 
'S' for Sucess, 'E' for Error or 'W' for Warning.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="StatusInformation" type="StatusInformation"/>
</xsd:schema>