Backup sourceCode/CommercialAccountFileServiceClients/target-junit/META-INF/wsdl/Territory.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/core/territory" xmlns="http://ei/core/territory" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Territory">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="TerritoryCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains a code which indentifies a within a country.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TerritoryName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains the name of a territory.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="Territory" type="Territory"/>
</xsd:schema>