Backup sourceCode/GetAccessUserProfileWsClient/src/main/resources/META-INF/wsdl/UserAuthorization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://chubb_corporate/get_access/access_attribute" xmlns="http://chubb_corporate/get_access/user_authorization" targetNamespace="http://chubb_corporate/get_access/user_authorization">
	<xsd:import schemaLocation="AccessAttribute.xsd" namespace="http://chubb_corporate/get_access/access_attribute">
	</xsd:import>
	<xsd:complexType name="UserAuthorization">
		<xsd:annotation>
      <xsd:documentation>User Authorization is the process of determing which permissions a user should have.   This could be access to an application, features within an application, or data within an application.



</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="AccessAttribute" type="bons0:AccessAttribute">
			</xsd:element>
			<xsd:element minOccurs="0" name="UserAuthorizationTypeName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the type of User Authorization.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="SourceSystemName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element identifies the data entry application (Policy, Claim, other) which originated the transaction or other data feed.  The application would be the source of detailed information and history about the policy, claim, etc.
The E1T00871 Corporate Table contains valid values for this element in the "SYS_SRC_NAME" column. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DataSourceName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the name of the data source.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="UserAuthorization" type="UserAuthorization" /></xsd:schema>