Backup sourceCode/GetAccessUserProfileWsClient/ProducerCrossReferenceRetrievalPRD6X1/GetProducerIdReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/status_informationx2" xmlns="http://ei/producer/get_producer_id_reply_prd6x1" targetNamespace="http://ei/producer/get_producer_id_reply_prd6x1">
	<xsd:import schemaLocation="StatusInformationX2.xsd" namespace="http://ei/core/status_informationx2">
	</xsd:import>
	<xsd:complexType name="GetProducerIdReply">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ProducerId" type="xsd:string"><xsd:annotation><xsd:documentation>This element contains a unique id assigned to a Producer.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons0:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetProducerIdReply" type="GetProducerIdReply" /></xsd:schema>