Backup sourceCode/GetAccessUserProfileWsClient/ProducerCrossReferenceRetrievalPRD6X1/GetProducerCrossReferenceReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/status_informationx2" xmlns:bons1="http://ei/producer/producer_cross_reference" xmlns="http://ei/producer/get_producer_cross_reference_reply_prd6x1" targetNamespace="http://ei/producer/get_producer_cross_reference_reply_prd6x1">
	<xsd:import schemaLocation="ProducerCrossReference.xsd" namespace="http://ei/producer/producer_cross_reference">
	</xsd:import>
	<xsd:import schemaLocation="StatusInformationX2.xsd" namespace="http://ei/core/status_informationx2">
	</xsd:import>
	<xsd:complexType name="GetProducerCrossReferenceReply">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ProducerCrossReference" type="bons1:ProducerCrossReference">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons0:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetProducerCrossReferenceReply" type="GetProducerCrossReferenceReply" /></xsd:schema>