Backup sourceCode/CommercialAccountFileServiceClients/ProductRetrievalPDT1X1/GetMarketingProductGroupListReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/product" xmlns:bons1="http://ei/core/status_informationx2" xmlns="http://ei/product/get_marketing_product_group_list_reply_pdt1x1" targetNamespace="http://ei/product/get_marketing_product_group_list_reply_pdt1x1">
	<xsd:import schemaLocation="StatusInformationX2.xsd" namespace="http://ei/core/status_informationx2">
	</xsd:import>
	<xsd:import schemaLocation="Product.xsd" namespace="http://ei/core/product">
	</xsd:import>
	<xsd:complexType name="GetMarketingProductGroupListReply">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="Product" type="bons0:Product">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons1:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetMarketingProductGroupListReply" type="GetMarketingProductGroupListReply" /></xsd:schema>