Backup sourceCode/CommercialAccountFileServiceClients/ProductRetrievalPDT1X1/PrdctCompntLossValueOption.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/prdct_compnt_rule_group" xmlns:bons1="http://ei/core/prdct_compnt_cross_reference" xmlns:bons3="http://ei/core/prdct_compnt_subject_type_part" xmlns="http://ei/core/prdct_compnt_loss_value_option" targetNamespace="http://ei/core/prdct_compnt_loss_value_option">
    <xsd:import namespace="http://ei/core/prdct_compnt_cross_reference" schemaLocation="PrdctCompntCrossReference.xsd" />
    <xsd:import namespace="http://ei/core/prdct_compnt_rule_group" schemaLocation="PrdctCompntRuleGroup.xsd" />
    <xsd:import namespace="http://ei/core/prdct_compnt_subject_type_part" schemaLocation="PrdctCompntSubjectTypePart.xsd" />

	<xsd:complexType name="PrdctCompntLossValueOption">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductComponentRuleGroup" type="bons0:PrdctCompntRuleGroup">
			</xsd:element>
			<xsd:element minOccurs="0" name="SubjectTypePart" type="bons3:PrdctCompntSubjectTypePart">
			</xsd:element>



			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductCrossReference" type="bons1:PrdctCompntCrossReference">
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentClassificationCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This is the symbol that identifies an item class, such as a coverage, service, variation, or cause of loss.  Valid values include:  'COV'-Coverage, 'SERV'-Service, 'VAR'-Variation, or 'COL'-Cause of Loss.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductTypeClassificationDescription" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element describes the classification for particulat type of product.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductCatalogPCMPOMasterGIN" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the Product Component GIN from the enterprise product catalog.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentAbbreviation" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the abbreviation for a product component, which can be used to identify a part of a product whose sale should be tracked individually.

</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentShortName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the short name used to identify a part of a product whose sale should be tracked individually.


</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the name of the Product Component.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentDescriptionText" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element describes the component of a product about which the company wishes to track information.  

</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentGroupGIN" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the unique identifier of an instance of a product component group.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentGroupName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the name assigned to an instance of a product component group.     These groups are used to setup higher-level grouping into which actual product component fall. 


</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentTypeCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This elment contains a symbol that identifies the type of product component (e.g., inventory, alias, core) based on why it was created.


</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="RepeatableComponentIndicator" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element indicates if a component can be repeated.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="DateSpecificComponentIndicator" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element specifies whether a component required date specific information.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>


			<xsd:element minOccurs="0" name="ProducerApplicationIndicator" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element indicates whether the corresponding object is one which for which a producer can be applied.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductOfferingApplicationIndicator" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element indicates whether the corresponding object is one which for which a product offering can be applied.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="WritingCompanyApplicationIndicator" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element indicates whether the corresponding object is one which for which a writing company can be applied.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="PrdctCompntLossValueOption" type="PrdctCompntLossValueOption" /></xsd:schema>