Backup sourceCode/CommercialAccountFileServiceClients/ProductRetrievalPDT1X1/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ei/core/prdct_compnt_cross_reference" xmlns:bons2="http://ei/core/prdct_compnt_rule_group" xmlns="http://ei/core/product" targetNamespace="http://ei/core/product">
    <xsd:import namespace="http://ei/core/prdct_compnt_cross_reference" schemaLocation="PrdctCompntCrossReference.xsd" />
    <xsd:import namespace="http://ei/core/prdct_compnt_rule_group" schemaLocation="PrdctCompntRuleGroup.xsd" />


	<xsd:complexType name="Product">
		<xsd:annotation>
      <xsd:documentation>This contains the Master Product and the details about all the product components that can be sold for this product.</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>

			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductComponentRuleGroup" type="bons2:PrdctCompntRuleGroup">
			</xsd:element>


			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductCrossReference" type="bons1:PrdctCompntCrossReference">
			</xsd:element>
			<xsd:element minOccurs="0" name="InsurerProductCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element identifies a product that the Chubb offers to its Insureds/Customers.
Values for this element are available in the Product Catalog.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>


			<xsd:element minOccurs="0" name="ProductCatalogPCMPOMasterGIN" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the Product Component GIN from the enterprise product catalog.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>




			<xsd:element minOccurs="0" name="ProductComponentAbbreviation" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the abbreviation for a product component, which can be used to identify a part of a product whose sale should be tracked individually.

</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentShortName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the short name used to identify a part of a product whose sale should be tracked individually.


</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the name of the Product Component.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentDescriptionText" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element describes the component of a product about which the company wishes to track information.  

</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentGroupGIN" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the unique identifier of an instance of a product component group.

</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ProductComponentGroupName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the name assigned to an instance of a product component group.     These groups are used to setup higher-level grouping into which actual product component fall. 


</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="Product" type="Product" /></xsd:schema>