Backup sourceCode/CommercialAccountFileServiceClients/ProductRetrievalPDT1X1/ProductRetrievalPDT1X1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://ei/core/simplefault" xmlns:bons2="http://ei/product/get_product_request_pdt1x1" xmlns:bons3="http://ei/product/get_product_reply_pdt1x1" xmlns:bons4="http://ei/product/get_marketing_product_group_list_request_pdt1x1" xmlns:bons5="http://ei/product/get_filtered_product_list_reply_pdt1x1" xmlns:bons8="http://ei/product/get_marketing_product_group_list_reply_pdt1x1" xmlns:tns="http://ei/product/product_retrieval_pdt1x1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductRetrievalPDT1X1" targetNamespace="http://ei/product/product_retrieval_pdt1x1">
    <wsdl:types>
    <xsd:schema xmlns:bons0="http://ei/product/get_filtered_product_list_request_pdt1x1" xmlns="http://ei/product/product_retrieval_pdt1x1" targetNamespace="http://ei/product/product_retrieval_pdt1x1">
            <xsd:import namespace="http://ei/product/get_marketing_product_group_list_reply_pdt1x1" schemaLocation="GetMarketingProductGroupListReply.xsd" />
            <xsd:import namespace="http://ei/product/get_marketing_product_group_list_request_pdt1x1" schemaLocation="GetMarketingProductGroupListRequest.xsd" />
            <xsd:import namespace="http://ei/product/get_filtered_product_list_request_pdt1x1" schemaLocation="GetFilteredProductListRequest.xsd" />
            <xsd:import namespace="http://ei/product/get_filtered_product_list_reply_pdt1x1" schemaLocation="GetFilteredProductListReply.xsd" />
      <xsd:import namespace="http://ei/product/get_product_reply_pdt1x1" schemaLocation="GetProductReply.xsd" />
      <xsd:import namespace="http://ei/product/get_product_request_pdt1x1" schemaLocation="GetProductRequest.xsd" />
      <xsd:import namespace="http://ei/core/simplefault" schemaLocation="SimpleFault.xsd" />
      <xsd:element name="GetProduct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetProductRequest" nillable="true" type="bons2:GetProductRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetProductReply" nillable="true" type="bons3:GetProductReply" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFilteredProductList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetFilteredProductListRequest" nillable="true" type="bons0:GetFilteredProductListRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFilteredProductListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetFilteredProductListReply" nillable="true" type="bons5:GetFilteredProductListReply" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="GetMarketingProductGroupList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetMarketingProductGroupListRequest" nillable="true" type="bons4:GetMarketingProductGroupListRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="GetMarketingProductGroupListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetMarketingProductGroupListReply" nillable="true" type="bons8:GetMarketingProductGroupListReply" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SimpleFaultReply" nillable="true" type="bons1:SimpleFault" />
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="GetProductRequestMsg">
    <wsdl:part element="tns:GetProduct" name="GetProductParameters" />
  </wsdl:message>
    <wsdl:message name="GetProductResponseMsg">
    <wsdl:part element="tns:GetProductResponse" name="GetProductResult" />
  </wsdl:message>
    <wsdl:message name="GetProduct_SimpleFaultReplyMsg">
    <wsdl:part element="tns:SimpleFaultReply" name="SimpleFaultReply" />
  </wsdl:message>
    <wsdl:message name="GetFilteredProductListRequestMsg">
    <wsdl:part element="tns:GetFilteredProductList" name="GetFilteredProductListParameters" />
  </wsdl:message>
    <wsdl:message name="GetFilteredProductListResponseMsg">
    <wsdl:part element="tns:GetFilteredProductListResponse" name="GetFilteredProductListResult" />
  </wsdl:message>
    <wsdl:message name="GetFilteredProductList_SimpleFaultReplyMsg">
    <wsdl:part element="tns:SimpleFaultReply" name="SimpleFaultReply" />
  </wsdl:message>
    <wsdl:message name="GetMarketingProductGroupListRequestMsg">
    <wsdl:part element="tns:GetMarketingProductGroupList" name="GetMarketingProductGroupListParameters" />
  </wsdl:message>
    <wsdl:message name="GetMarketingProductGroupListResponseMsg">
    <wsdl:part element="tns:GetMarketingProductGroupListResponse" name="GetMarketingProductGroupListResult" />
  </wsdl:message>
    <wsdl:message name="GetMarketingProductGroupList_SimpleFaultReplyMsg">
    <wsdl:part element="tns:SimpleFaultReply" name="SimpleFaultReply" />
  </wsdl:message>
    <wsdl:portType name="ProductRetrievalPDT1X1">
    <wsdl:operation name="GetProduct">
      <wsdl:input message="tns:GetProductRequestMsg" name="GetProductRequest" />
      <wsdl:output message="tns:GetProductResponseMsg" name="GetProductResponse" />
      <wsdl:fault message="tns:GetProduct_SimpleFaultReplyMsg" name="SimpleFaultReply" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredProductList">
      <wsdl:input message="tns:GetFilteredProductListRequestMsg" name="GetFilteredProductListRequest" />
      <wsdl:output message="tns:GetFilteredProductListResponseMsg" name="GetFilteredProductListResponse" />
      <wsdl:fault message="tns:GetFilteredProductList_SimpleFaultReplyMsg" name="SimpleFaultReply" />
    </wsdl:operation>
        <wsdl:operation name="GetMarketingProductGroupList">
      <wsdl:input message="tns:GetMarketingProductGroupListRequestMsg" name="GetMarketingProductGroupListRequest" />
      <wsdl:output message="tns:GetMarketingProductGroupListResponseMsg" name="GetMarketingProductGroupListResponse" />
      <wsdl:fault message="tns:GetMarketingProductGroupList_SimpleFaultReplyMsg" name="SimpleFaultReply" />
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>