Backup sourceCode/CommercialAccountFileServiceClients/CommercialPolicyBookOfBusinessReportingRPT3X1/CommercialPolicyBookOfBusinessReportingRPT3X1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons1="http://ei/core/simplefault" xmlns:bons4="http://ei/reporting/generate_book_of_business_report_request_rpt3x1" xmlns:bons5="http://ei/reporting/generate_book_of_business_report_reply_rpt3x1" xmlns:tns="http://ei/reporting/commercial_policy_book_of_business_reporting_rpt3x1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommercialPolicyBookOfBusinessReportingRPT3X1" targetNamespace="http://ei/reporting/commercial_policy_book_of_business_reporting_rpt3x1">
    <wsdl:types>
    <xsd:schema xmlns="http://ei/reporting/commercial_policy_book_of_business_reporting_rpt3x1" targetNamespace="http://ei/reporting/commercial_policy_book_of_business_reporting_rpt3x1">
            <xsd:import namespace="http://ei/reporting/generate_book_of_business_report_reply_rpt3x1" schemaLocation="GenerateBookOfBusinessReportReply.xsd" />
            <xsd:import namespace="http://ei/reporting/generate_book_of_business_report_request_rpt3x1" schemaLocation="GenerateBookOfBusinessReportRequest.xsd" />
      <xsd:import namespace="http://ei/core/simplefault" schemaLocation="SimpleFault.xsd" />
      <xsd:element name="GenerateBookOfBusinessReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GenerateBookOfBusinessReportRequest" nillable="true" type="bons4:GenerateBookOfBusinessReportRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerateBookOfBusinessReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GenerateBookOfBusinessReportReply" nillable="true" type="bons5:GenerateBookOfBusinessReportReply" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SimpleFaultReply" nillable="true" type="bons1:SimpleFault" />
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="GenerateBookOfBusinessReportRequestMsg">
    <wsdl:part element="tns:GenerateBookOfBusinessReport" name="GenerateBookOfBusinessReportParameters" />
  </wsdl:message>
    <wsdl:message name="GenerateBookOfBusinessReportResponseMsg">
    <wsdl:part element="tns:GenerateBookOfBusinessReportResponse" name="GenerateBookOfBusinessReportResult" />
  </wsdl:message>
    <wsdl:message name="GenerateBookOfBusinessReport_SimpleFaultReplyMsg">
    <wsdl:part element="tns:SimpleFaultReply" name="SimpleFaultReply" />
  </wsdl:message>
    <wsdl:portType name="CommercialPolicyBookOfBusinessReportingRPT3X1">
    <wsdl:operation name="GenerateBookOfBusinessReport">
      <wsdl:input message="tns:GenerateBookOfBusinessReportRequestMsg" name="GenerateBookOfBusinessReportRequest" />
      <wsdl:output message="tns:GenerateBookOfBusinessReportResponseMsg" name="GenerateBookOfBusinessReportResponse" />
      <wsdl:fault message="tns:GenerateBookOfBusinessReport_SimpleFaultReplyMsg" name="SimpleFaultReply" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>