Backup sourceCode/CommercialAccountFileServiceClients/CommercialPolicyBookOfBusinessReportingRPT3X1/GenerateBookOfBusinessReportReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/file" xmlns:bons1="http://ei/core/status_informationx2" xmlns="http://ei/reporting/generate_book_of_business_report_reply_rpt3x1" targetNamespace="http://ei/reporting/generate_book_of_business_report_reply_rpt3x1">
	<xsd:import namespace="http://ei/core/status_informationx2" schemaLocation="StatusInformationX2.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/file" schemaLocation="File.xsd">
	</xsd:import>
	<xsd:complexType name="GenerateBookOfBusinessReportReply">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="File" type="bons0:File" />
			<xsd:element minOccurs="0" name="StatusInformation" type="bons1:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GenerateBookOfBusinessReportReply" type="GenerateBookOfBusinessReportReply" /></xsd:schema>