Backup sourceCode/CommercialAccountFileServiceClients/ProducerRetrievalPRD2X5/GetProducerWithCommissionRatesReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ei/producer/extended_producerx3" xmlns="http://ei/producer/get_producer_with_commission_rates_reply_prd2X5" targetNamespace="http://ei/producer/get_producer_with_commission_rates_reply_prd2X5">
	<xsd:import schemaLocation="ExtendedProducerX3.xsd" namespace="http://ei/producer/extended_producerx3">
	</xsd:import>
	<xsd:complexType name="GetProducerWithCommissionRatesReply">
		<xsd:sequence>

			<xsd:element minOccurs="0" name="ExtendedProducer" type="bons1:ExtendedProducer">
			</xsd:element>
			<xsd:element minOccurs="0" name="ProducerFoundIndicator" type="xsd:boolean">
				<xsd:annotation>
          <xsd:documentation>This element indicates if the Producer sent in by the consumer was found.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetProducerWithCommissionRatesReply" type="GetProducerWithCommissionRatesReply" /></xsd:schema>