Backup sourceCode/CommercialAccountFileServiceClients/ProducerRetrievalPRD2X5/StatusInformationX1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ei/core/error" xmlns="http://ei/core/status_informationx1" targetNamespace="http://ei/core/status_informationx1">
	<xsd:import schemaLocation="Error.xsd" namespace="http://ei/core/error">
	</xsd:import>
	<xsd:complexType name="StatusInformation">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Error" type="bons1:Error" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusCode" type="xsd:string">
				<xsd:annotation><xsd:documentation>This element specifies a code that identifies the type of error.

Valid values are 
'S' for Sucess, 'E' for Error or 'W' for Warning.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="StatusInformation" type="StatusInformation" /></xsd:schema>