Backup sourceCode/CommercialAccountFileServiceClients/UserProfileRetrievalCRP31X1/GetUserProfileListReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://ei/core/status_informationx2" xmlns:bons2="http://ei/corporate/get_user_profile_list_outputs_crp31x1" xmlns="http://ei/corporate/get_user_profile_list_reply_crp31x1" targetNamespace="http://ei/corporate/get_user_profile_list_reply_crp31x1">
    <xsd:import namespace="http://ei/corporate/get_user_profile_list_outputs_crp31x1" schemaLocation="GetUserProfileListOutputs.xsd" />
    <xsd:import namespace="http://ei/core/status_informationx2" schemaLocation="StatusInformationX2.xsd">
	</xsd:import>
	<xsd:complexType name="GetUserProfileListReply">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="GetUserProfileListOutputs" type="bons2:GetUserProfileListOutputs">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons1:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetUserProfileListReply" type="GetUserProfileListReply" /></xsd:schema>