Backup sourceCode/CommercialAccountFileServiceClients/UserProfileRetrievalCRP31X1/GetUserProfileListByEmailReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/user_profile" xmlns:bons1="http://ei/core/status_informationx2" xmlns="http://ei/corporate/get_user_profile_list_by_email_reply_crp31x1" targetNamespace="http://ei/corporate/get_user_profile_list_by_email_reply_crp31x1">
	<xsd:import namespace="http://ei/core/status_informationx2" schemaLocation="StatusInformationX2.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/user_profile" schemaLocation="UserProfile.xsd">
	</xsd:import>
	<xsd:complexType name="GetUserProfileListByEmailReply">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="UserProfile" type="bons0:UserProfile">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons1:StatusInformation">
			</xsd:element>
			<xsd:element minOccurs="0" name="EmailAddress" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains a person's e-mail address.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetUserProfileListByEmailReply" type="GetUserProfileListByEmailReply" /></xsd:schema>