Backup sourceCode/CommercialAccountFileServiceClients/CountryRetrievalCRP10X1/Country.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://ei/core/territory" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://ei/core/country" xmlns="http://ei/core/country">

	<xsd:import namespace="http://ei/core/territory" schemaLocation="Territory.xsd"/>
	
	<xsd:element name="Country" type="Country"/>
	<xsd:complexType name="Country">
		<xsd:sequence>
			<xsd:element name="Territory" type="bons0:Territory" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element is a code for a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "CNTRY_C" column.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CountryAbbreviation" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element is the abbreviation for a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "CNTRY_AB" column. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CountryName" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element is the name for a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "CNTRY_NA" column. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CountryDescription" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element is the description for a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "CNTRY_DE" column. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ISOCountryCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element is the abbreviation used by the International Standards Organization (ISO) that identifies a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "ISO_CNTRY_C" column. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ISOCountryDescription" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element is the description used by the International Standards Organization (ISO) that identifies a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "ISO_CNTRY_DE" column. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConvertedISOCountryCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This element is a legacy Chubb code for a country, nation or political state.
The E1T00101 Corporate Table contains valid values for this element in the "CONV_ISO_CNTRY_C" column.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
