Backup sourceCode/CommercialAccountFileServiceClients/src/main/resources/META-INF/wsdl/BookOfBusinessRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://dgmk/comlAcct/book_of_business_request" xmlns="http://dgmk/comlAcct/book_of_business_request" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType name="BookOfBusinessRequest">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="producerNumber" type="xsd:string">
				</xsd:element>
				<xsd:element minOccurs="0" name="subProducerNumber" type="xsd:string">
				</xsd:element>
				<xsd:element minOccurs="0" name="reportFormat" type="xsd:string">
				</xsd:element>
				<xsd:element minOccurs="0" name="emailAddress" type="xsd:string">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:element name="BookOfBusinessRequest" type="BookOfBusinessRequest"/>
</xsd:schema>