Backup sourceCode/CommercialAccountFileServiceClients/src/main/resources/META-INF/wsdl/GetLocalLanguageBranchReply.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/crp/get_local_language_branch_reply_crp2x1" xmlns="http://ei/crp/get_local_language_branch_reply_crp2x1" xmlns:bons0="http://ei/core/extendedbranch" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://ei/core/extendedbranch" schemaLocation="ExtendedBranch.xsd">
	</xsd:import>
	<xsd:complexType name="GetLocalLanguageBranchReply">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ExtendedBranch" type="bons0:ExtendedBranch">
			</xsd:element>
			<xsd:element minOccurs="0" name="BranchLocalLanguageIndicator" type="xsd:boolean">
				<xsd:annotation>
          <xsd:documentation>This element indicates if any of the data contained in the reply is in a local language.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetLocalLanguageBranchReply" type="GetLocalLanguageBranchReply"/>
</xsd:schema>