Backup sourceCode/CommercialAccountFileServiceClients/src/main/resources/META-INF/wsdl/GetPolicyContactListReply.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://ei/corporate/get_policy_contact_list_reply_crp30x1" xmlns="http://ei/corporate/get_policy_contact_list_reply_crp30x1" xmlns:bons0="http://ei/core/status_informationx2" xmlns:bons1="http://ei/corporate/get_policy_contact_list_outputs_crp30x1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://ei/corporate/get_policy_contact_list_outputs_crp30x1" schemaLocation="GetPolicyContactListOutputs.xsd"/>

	<xsd:import namespace="http://ei/core/status_informationx2" schemaLocation="StatusInformationX2.xsd">
	</xsd:import>
	<xsd:complexType name="GetPolicyContactListReply">
		<xsd:sequence>

			<xsd:element maxOccurs="unbounded" minOccurs="0" name="GetPolicyContactListOutputs" type="bons1:GetPolicyContactListOutputs">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons0:StatusInformation">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetPolicyContactListReply" type="GetPolicyContactListReply"/>
</xsd:schema>