Backup sourceCode/CommercialAccountFileServiceClients/src/main/resources/META-INF/wsdl/UserProfile.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ei/core/user_profile" xmlns="http://ei/core/user_profile" xmlns:bons0="http://ei/core/user_authorization" xmlns:bons1="http://ei/core/user" xmlns:bons2="http://ei/core/source_system_user_profile_id" xmlns:bons3="http://ei/core/application_user_profile" xmlns:bons4="http://ei/core/region_and_language_settings" xmlns:bons5="http://ei/core/access_control_group" xmlns:bons6="http://ei/core/customizationx1">

	<xsd:import namespace="http://ei/core/source_system_user_profile_id" schemaLocation="SourceSystemUserProfileId.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/customizationx1" schemaLocation="CustomizationX1.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/region_and_language_settings" schemaLocation="RegionAndLanguageSettings.xsd"/>
	<xsd:import namespace="http://ei/core/user_authorization" schemaLocation="UserAuthorization.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/access_control_group" schemaLocation="AccessControlGroup.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/user" schemaLocation="User.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/application_user_profile" schemaLocation="ApplicationUserProfile.xsd"/>










	<xsd:complexType name="UserProfile">
		<xsd:sequence>

			<xsd:element minOccurs="0" name="User" type="bons1:User"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="RegionAndLanguageSettings" type="bons4:RegionAndLanguageSettings">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="AccessControlGroup" type="bons5:AccessControlGroup">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ApplicationUserProfile" type="bons3:ApplicationUserProfile">
			</xsd:element>


			<xsd:element maxOccurs="unbounded" minOccurs="0" name="UserAuthorization" type="bons0:UserAuthorization">
			</xsd:element>










			<xsd:element minOccurs="0" name="UserProfileStatusCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the status of a User Profile.
Valid values include: 'ACTIVE', 'INACTIVE' or 'PASSWORD EXPIRED'.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="UserProfileSourceName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the source of the User Profile data.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="ExternalUserId" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains the the user id assigned to a user who needs to access systems from outside Chubb's network. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="PersonGIN" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains a generated identification number associated with a person's External User Id.  </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CommonUserGIN" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains a generated id that is used to identify a user across systems.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>



			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Customization" type="bons6:Customization">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="SourceSystemUserProfileId" type="bons2:SourceSystemUserProfileId">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="UserProfile" type="UserProfile"/>
</xsd:schema>