Backup sourceCode/CommercialBookOfBusinessDomain/CommercialPolicyBookOfBusinessReportingRPT3X1/GenerateBookOfBusinessReportRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/document_url_information" xmlns:bons1="http://ei/producer/producer_identifierx1" xmlns:bons2="http://ei/core/source_system_data" xmlns="http://ei/reporting/generate_book_of_business_report_request_rpt3x1" targetNamespace="http://ei/reporting/generate_book_of_business_report_request_rpt3x1">
	<xsd:import schemaLocation="SourceSystemData.xsd" namespace="http://ei/core/source_system_data">
	</xsd:import>
	<xsd:import namespace="http://ei/producer/producer_identifierx1" schemaLocation="ProducerIdentifierX1.xsd">
	</xsd:import>
	<xsd:import namespace="http://ei/core/document_url_information" schemaLocation="DocumentURLInformation.xsd">
	</xsd:import>
	<xsd:complexType name="GenerateBookOfBusinessReportRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="TargetDocumentURLInformation" type="bons0:DocumentURLInformation">
				<xsd:annotation>
          <xsd:documentation>This aggregate is only completed when the TargetDocumentReturnTypeCode is "URL"</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProducerIdentifier" type="bons1:ProducerIdentifier">
			</xsd:element>
			<xsd:element minOccurs="0" name="UserId" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element is used to sign on to an application.  
This is also known as RACFId.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SystemId" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element identifies internal/external sources of information.
This is also known as the System Source Code. 
The Corporate table E1T00871 contains the valid values for this element in the "SYS_SRC_C"  column.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ServiceConsumerSystemId" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element identifies internal/external sources of information, from the system that directly invokes an ICC service.
This is also known as the System Source Code. 
The Corporate table E1T00871 contains the valid values for this element in the "SYS_SRC_C"  column. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SyntheticTransactionTypeCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element refers to a service functional test which serves no business value.  The intention of the test is to confirm the service is functioning properly.    Some services can be tested fully.
Other services, such as those that would update a database can only perform a simple ping test.
Valid values include 'Full' or 'Simple Ping'.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalOptionsText" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element specifies which options the consumers wants executed on this service.   For exampe, this will be coud be used for enrichment.
</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TemplateId" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains an assigned template id.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TemplateName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains a supplied template name.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TargetDocumentFormatCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains specifies the format of the target document.
Valid values include: PDF, RTF, EXCEL, and XML.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="TargetDocumentReturnTypeCode" type="xsd:string">
				<xsd:annotation>
          
        <xsd:documentation>This element allows the requester to specify how the result document should be returned.
URL – A URL pointing to the document
BYTES - a byte array of the document

</xsd:documentation></xsd:annotation>
			</xsd:element>


			<xsd:element minOccurs="0" name="ReportName" type="xsd:string"><xsd:annotation><xsd:documentation> This element contains the full title of the report.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SourceSystemData" type="bons2:SourceSystemData" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="SourceSystemKeyId" type="xsd:string">
				<xsd:annotation><xsd:documentation>This element contains the key to the transaction of the policy system or data entry system that originated the transaction.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GenerateBookOfBusinessReportRequest" type="GenerateBookOfBusinessReportRequest" /></xsd:schema>