Backup sourceCode/CommercialBookOfBusinessDomain/CommercialPolicyBookOfBusinessReportingRPT3X1/StatusInformationX2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/error_information" xmlns="http://ei/core/status_informationx2" targetNamespace="http://ei/core/status_informationx2">
	<xsd:import schemaLocation="ErrorInformation.xsd" namespace="http://ei/core/error_information">
	</xsd:import>
	<xsd:complexType name="StatusInformation">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ErrorInformation" type="bons0:ErrorInformation" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusCode" type="xsd:string"><xsd:annotation><xsd:documentation>This element specifies a code that identifies the type of error.

Valid values are 
'S' for Sucess, 'E' for Error or 'W' for Warning.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="StatusInformation" type="StatusInformation" /></xsd:schema>