Backup sourceCode/GetAccessUserProfileModel/src/main/resources/META-INF/wsdl/ApplicationUserProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://chubb_corporate/get_access/application_user_profile" xmlns:bons2="http://chubb_corporate/get_access/application_user_profile_property" xmlns="http://chubb_corporate/get_access/application_user_profile" targetNamespace="http://chubb_corporate/get_access/application_user_profile">
	<xsd:import schemaLocation="ApplicationUserProfileProperty.xsd" namespace="http://chubb_corporate/get_access/application_user_profile_property">
	</xsd:import>
	<xsd:complexType name="ApplicationUserProfile">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ApplicationUserProfileProperty" type="bons2:ApplicationUserProfileProperty">
			</xsd:element>
			<xsd:element minOccurs="0" name="ApplicationUserProfileId" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element contains a unique identifier for an application specific user profile.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SystemId" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element identifies internal/external sources of information.
This is also known as the System Source Code. 
The Corporate table E1T00871 contains the valid values for this element in the "SYS_SRC_C"  column.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="SourceSystemName" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element identifies the data entry application (Policy, Claim, other) which originated the transaction or other data feed.  The application would be the source of detailed information and history about the policy, claim, etc.
The E1T00871 Corporate Table contains valid values for this element in the "SYS_SRC_NAME" column. </xsd:documentation>
        </xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="ApplicationUserProfileData">
				<xsd:annotation>
          <xsd:documentation>This contains any XML document.</xsd:documentation>
        </xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any minOccurs="0" namespace="##other" processContents="lax" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="ApplicationUserProfile" type="ApplicationUserProfile" /></xsd:schema>