Backup sourceCode/GetAccessUserProfileModel/src/main/resources/META-INF/wsdl/GetAccessUserProfileListOutputs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://chubb_corporate/get_access/user_profile_identifier" xmlns:bons2="http://chubb_corporate/get_access/user_profile" xmlns="http://chubb_corporate/business/get_access_user_profile_list_outputs_ebe4x1" targetNamespace="http://chubb_corporate/business/get_access_user_profile_list_outputs_ebe4x1">
    <xsd:import namespace="http://chubb_corporate/get_access/user_profile_identifier" schemaLocation="UserProfileIdentifier.xsd" />
	<xsd:import namespace="http://chubb_corporate/get_access/user_profile" schemaLocation="UserProfile.xsd" />

	<xsd:complexType name="GetAccessUserProfileListOutputs">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="UserProfileIdentifier" type="bons0:UserProfileIdentifier">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="UserProfile" type="bons2:UserProfile">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetAccessUserProfileListOutputs" type="GetAccessUserProfileListOutputs" /></xsd:schema>