Backup sourceCode/GetAccessUserProfileModel/src/main/resources/META-INF/wsdl/GetAccessUserProfileManagementEBE4X1Http.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:Port_0="http://chubb_corporate/business/get_access_user_profile_management_ebe4x1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:this="http://chubb_corporate/business/get_access_user_profile_management_ebe4x1_http" name="GetAccessUserProfileManagementEBE4X1Http" targetNamespace="http://chubb_corporate/business/get_access_user_profile_management_ebe4x1_http">
  <wsdl:import location="GetAccessUserProfileManagementEBE4X1.wsdl" namespace="http://chubb_corporate/business/get_access_user_profile_management_ebe4x1" />
  <wsdl:binding name="GetAccessUserProfileManagementEBE4X1HttpBinding" type="Port_0:GetAccessUserProfileManagementEBE4X1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGetAccessUserProfile">
      <soap:operation soapAction="AddGetAccessUserProfile" />
      <wsdl:input name="AddGetAccessUserProfileRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddGetAccessUserProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateGetAccessUserProfile">
      <soap:operation soapAction="UpdateGetAccessUserProfile" />
      <wsdl:input name="UpdateGetAccessUserProfileRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateGetAccessUserProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateGetAccessUserProfileStatus">
      <soap:operation soapAction="UpdateGetAccessUserProfileStatus" />
      <wsdl:input name="UpdateGetAccessUserProfileStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateGetAccessUserProfileStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccessUserProfileList">
      <soap:operation soapAction="GetAccessUserProfileList" />
      <wsdl:input name="GetAccessUserProfileListRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAccessUserProfileListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccessUserProfile">
      <soap:operation soapAction="GetAccessUserProfile" />
      <wsdl:input name="GetAccessUserProfileRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAccessUserProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ResetGetAccessUserPassword">
      <soap:operation soapAction="ResetGetAccessUserPassword" />
      <wsdl:input name="ResetGetAccessUserPasswordRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResetGetAccessUserPasswordResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeGetAccessUserPassword">
      <soap:operation soapAction="ChangeGetAccessUserPassword" />
      <wsdl:input name="ChangeGetAccessUserPasswordRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeGetAccessUserPasswordResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeGetAccessUserProfileIdentifier">
      <soap:operation soapAction="ChangeGetAccessUserProfileIdentifier" />
      <wsdl:input name="ChangeGetAccessUserProfileIdentifierRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeGetAccessUserProfileIdentifierResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SimpleFaultReply">
        <soap:fault name="SimpleFaultReply" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetAccessUserProfileManagementEBE4X1HttpService">
    <wsdl:port binding="this:GetAccessUserProfileManagementEBE4X1HttpBinding" name="GetAccessUserProfileManagementEBE4X1HTTP_GetAccessUserProfileManagementEBE4X1HttpPort">
      <soap:address location="Contact ICC for GetAccessUserProfileManagementEBE4X1 Endpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>