Backup sourceCode/GetAccessUserProfileModel/src/main/resources/META-INF/wsdl/StatusInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://chubb_corporate/get_access/error_information" xmlns="http://chubb_corporate/get_access/status_information" targetNamespace="http://chubb_corporate/get_access/status_information">
    <xsd:import namespace="http://chubb_corporate/get_access/error_information" schemaLocation="ErrorInformation.xsd" />
	<xsd:complexType name="StatusInformation">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ErrorInformation" type="bons0:ErrorInformation">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusCode" type="xsd:string">
				<xsd:annotation>
          <xsd:documentation>This element specifies a code that identifies the type of error.

Valid values are 
'S' for Sucess, 'E' for Error or 'W' for Warning.</xsd:documentation>
        </xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="StatusInformation" type="StatusInformation" /></xsd:schema>