Backup sourceCode/CommercialAccountFileServiceClients/CommercialInsuredGroupPolicyRetrievalCRM33X1/InsuredX5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/business_informationx3" xmlns:bons1="http://ei/core/addressx3" xmlns:bons2="http://ei/core/individual_information" xmlns:bons3="http://ei/core/typed_address" xmlns:bons4="http://ei/core/phone_information" xmlns:bons5="http://ei/core/email_information" xmlns="http://ei/crm/insuredx5" targetNamespace="http://ei/crm/insuredx5">
	<xsd:import schemaLocation="EmailInformation.xsd" namespace="http://ei/core/email_information">
	</xsd:import>
	<xsd:import schemaLocation="PhoneInformation.xsd" namespace="http://ei/core/phone_information">
	</xsd:import>
	<xsd:import schemaLocation="TypedAddress.xsd" namespace="http://ei/core/typed_address">
	</xsd:import>
	<xsd:import schemaLocation="IndividualInformation.xsd" namespace="http://ei/core/individual_information">
	</xsd:import>
	<xsd:import schemaLocation="AddressX3.xsd" namespace="http://ei/core/addressx3">
	</xsd:import>
	<xsd:import schemaLocation="BusinessInformationX3.xsd" namespace="http://ei/core/business_informationx3">
	</xsd:import>
	<xsd:complexType name="Insured">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="BusinessInformation" type="bons0:BusinessInformation">
			</xsd:element>
			<xsd:element minOccurs="0" name="MailingAddress" type="bons1:Address">
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredName" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the primary name of the Insured.
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredForeignName" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the alternative name for the Insured.
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredAliasName" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the alternative name for the Insured.
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CPNumber" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the Chubb ID number for the Insured.
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="WIPInsuredNumber" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the WIP ID number for the Insured.
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredTypeCode" type="xsd:string"><xsd:annotation><xsd:documentation>
This element indicates whether the Insured is a legal entity or an individual.  
Valid options for this element are 'L' or 'I'.
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredRoleName" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the name for the role of the Insured.
Examples include: NAMED INSURED and 1ST NAME INSD.
The E1T00771 Corporate Table contains valid values for this element in the "CNTRCT_PRTC_ROL_NA" column. 
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredRoleAbbreviation" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the abbreviation for the name for the role of the Insured.
Examples include: NAMED and FINSD.
The E1T00771 Corporate Table contains valid values for this element in the "CNTRCT_PRTC_ROL_AB" column.  
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredRoleCode" type="xsd:string"><xsd:annotation><xsd:documentation>
This element is the role code for the name of the role of the Insured.
Examples include: 0010 and 0030.
The E1T00771 Corporate Table contains valid values for this element in the "CNTRCT_PRTC_ROL_C " column. 
				</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="InsuredIndividual" type="bons2:IndividualInformation">
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="TypedAddress" type="bons3:TypedAddress">
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="PhoneInformation" type="bons4:PhoneInformation">
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="EmailInformation" type="bons5:EmailInformation">
			</xsd:element>
			<xsd:element minOccurs="0" name="SourceSystemInsuredId" type="xsd:string"><xsd:annotation><xsd:documentation>This element contains the insured id as it is know by the source system.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="Insured" type="Insured" /></xsd:schema>