Backup sourceCode/CommercialAccountFileServiceClients/CommercialCustomerSearchCRM4X4/InsuredX2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/business_informationx2" xmlns:bons1="http://ei/core/addressx1" xmlns="http://ei/crm/insuredx2" targetNamespace="http://ei/crm/insuredx2">

	<xsd:import schemaLocation="AddressX1.xsd" namespace="http://ei/core/addressx1">
	</xsd:import>
	<xsd:import schemaLocation="BusinessInformationX2.xsd" namespace="http://ei/core/business_informationx2">
	</xsd:import>
	<xsd:complexType name="Insured">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="BusinessInformation" type="bons0:BusinessInformation" />
			<xsd:element minOccurs="0" name="MailingAddress" type="bons1:Address" />
			<xsd:element minOccurs="0" name="InsuredName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the primary name of the Insured.
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredForeignName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the alternative name for the Insured.
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredAliasName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the alternative name for the Insured.
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="CPNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the Chubb ID number for the Insured.
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="WIPInsuredNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the WIP ID number for the Insured.
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredTypeCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element indicates whether the Insured is a legal entity or an individual.  
Valid options for this element are 'L' or 'I'.
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredRoleName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the name for the role of the Insured.
Examples include: NAMED INSURED and 1ST NAME INSD.
The E1T00771 Corporate Table contains valid values for this element in the "CNTRCT_PRTC_ROL_NA" column. 
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredRoleAbbreviation" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the abbreviation for the name for the role of the Insured.
Examples include: NAMED and FINSD.
The E1T00771 Corporate Table contains valid values for this element in the "CNTRCT_PRTC_ROL_AB" column.  
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="InsuredRoleCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
This element is the role code for the name of the role of the Insured.
Examples include: 0010 and 0030.
The E1T00771 Corporate Table contains valid values for this element in the "CNTRCT_PRTC_ROL_C " column. 
				</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

<xsd:element name="Insured" type="Insured" /></xsd:schema>