Backup sourceCode/CommercialAccountFileServiceClients/CommercialCustomerSearchCRM4X4/NameSearchRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/crm/insuredx2" xmlns:bons1="http://ei/core/producer_identifierx2" xmlns="http://ei/crm/name_search_request_crm4x4" targetNamespace="http://ei/crm/name_search_request_crm4x4">
	<xsd:import schemaLocation="ProducerIdentifierX2.xsd" namespace="http://ei/core/producer_identifierx2">
	</xsd:import>
	<xsd:import schemaLocation="InsuredX2.xsd" namespace="http://ei/crm/insuredx2">
	</xsd:import>
	<xsd:complexType name="NameSearchRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Insured" type="bons0:Insured">
			</xsd:element>
			<xsd:element minOccurs="0" name="ProducerFilterIdentifier" type="bons1:ProducerIdentifier" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="SystemId" type="xsd:string"><xsd:annotation><xsd:documentation>This element identifies internal/external sources of information.
This is also known as the System Source Code. 
The Corporate table E1T00871 contains the valid values for this element  in the "SYS_SRC_C"  column.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="UserId" type="xsd:string"><xsd:annotation><xsd:documentation>This element is used to sign on to an application.  
This is also known as RACFId.</xsd:documentation></xsd:annotation>
			</xsd:element>

			<xsd:element minOccurs="0" name="ServiceConsumerSystemId" type="xsd:string"><xsd:annotation><xsd:documentation>This element identifies internal/external sources of information, from the system that directly invokes an ICC service.
This is also known as the System Source Code. 
The Corporate table E1T00871 contains the valid values for this element in the "SYS_SRC_C"  column. </xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="NameSearchScoreThresholdNumber" type="xsd:integer"><xsd:annotation><xsd:documentation>This element contains the threshold the Match Score Number needs to meet to be included in the result set.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="NameSearchLevelNumber" type="xsd:integer"><xsd:annotation><xsd:documentation>Thie element contains a number which controls the breadth of the name search function.  A narrow search level can be used when confidence in the accuracy of your search name is very high, and you want to limit the size of your result set to very close matches.  An exhaustive search level may be used when the confidence in the accuracy of your search name is lower, and you want a maximum set of potential candidates.

Valid values include  1 (Narrow) ,2 (Typical) , or 3 (Exhaustive).  </xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="NameSearchCurrentNameOnlyOverrideIndicator" type="xsd:boolean"><xsd:annotation><xsd:documentation>This element indicates if the search should override the current name only setting and include historical names.</xsd:documentation></xsd:annotation>
			</xsd:element>
			
			<xsd:element minOccurs="0" name="UserTypeDescription" type="xsd:string"><xsd:annotation><xsd:documentation>This element describes the specifc user type.   </xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="AdditionalOptionsText" type="xsd:string"><xsd:annotation><xsd:documentation>This element specifies which options the consumers wants executed on this service.   For example, this could be used for enrichment.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="NameSearchRequest" type="NameSearchRequest" /></xsd:schema>