Backup sourceCode/CommercialAccountFileServiceClients/CommercialCustomerSearchCRM4X4/NameSearchByAllPrimaryNamesOutputs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/crm/insuredx2" xmlns="http://ei/crm/name_search_by_all_primary_names_outputs_crm4x4" targetNamespace="http://ei/crm/name_search_by_all_primary_names_outputs_crm4x4">
	<xsd:import schemaLocation="InsuredX2.xsd" namespace="http://ei/crm/insuredx2">
	</xsd:import>
	<xsd:complexType name="NameSearchByAllPrimaryNamesOutputs">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Insured" type="bons0:Insured">
			</xsd:element>
			<xsd:element minOccurs="0" name="NameSearchMatchScoreNumber" type="xsd:integer"><xsd:annotation><xsd:documentation>This element contains a number which indicates how well this result matches the search criteria.  The score begins at 100 and is reduced by a certain amount for each inconsistency with the name &amp; address provided for searching (missing word, misspelling, different state, digits of zip code transposed, etc.)
Valid values for this element are from 60 to 100.</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="BillingAccountIndicator" type="xsd:boolean"><xsd:annotation><xsd:documentation>This element indicates if there is a billing account.</xsd:documentation></xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="NameSearchByAllPrimaryNamesOutputs" type="NameSearchByAllPrimaryNamesOutputs" /></xsd:schema>