Backup sourceCode/CommercialAccountFileServiceClients/ContactRetrievalCRP30X1/GetDefaultContactReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/corporate/get_default_contact_outputs_crp30x1" xmlns:bons1="http://ei/core/status_informationx2" xmlns="http://ei/corporate/get_default_contact_reply_crp30x1" targetNamespace="http://ei/corporate/get_default_contact_reply_crp30x1">
    <xsd:import namespace="http://ei/corporate/get_default_contact_outputs_crp30x1" schemaLocation="GetDefaultContactOutputs.xsd" />
	<xsd:import namespace="http://ei/core/status_informationx2" schemaLocation="StatusInformationX2.xsd">
	</xsd:import>

	<xsd:complexType name="GetDefaultContactReply">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="GetDefaultUnderwriterOutputs" type="bons0:GetDefaultContactOutputs">
			</xsd:element>

			<xsd:element minOccurs="0" name="StatusInformation" type="bons1:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetDefaultContactReply" type="GetDefaultContactReply" /></xsd:schema>