Backup sourceCode/CommercialAccountFileServiceClients/ContactRetrievalCRP30X1/GetPolicyContactListByDefinedRoleReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ei/core/status_informationx2" xmlns:bons1="http://ei/corporate/get_policy_contact_list_by_defined_role_outputs_crp30x1" xmlns="http://ei/corporate/get_policy_contact_list_by_defined_role_reply_crp30x1" targetNamespace="http://ei/corporate/get_policy_contact_list_by_defined_role_reply_crp30x1">
	<xsd:import schemaLocation="GetPolicyContactListByDefinedRoleOutputs.xsd" namespace="http://ei/corporate/get_policy_contact_list_by_defined_role_outputs_crp30x1">
	</xsd:import>
	<xsd:import schemaLocation="StatusInformationX2.xsd" namespace="http://ei/core/status_informationx2">
	</xsd:import>
	<xsd:complexType name="GetPolicyContactListByDefinedRoleReply">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="GetPolicyContactListByDefinedRoleOutputs" type="bons1:GetPolicyContactListByDefinedRoleOutputs" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="StatusInformation" type="bons0:StatusInformation">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
<xsd:element name="GetPolicyContactListByDefinedRoleReply" type="GetPolicyContactListByDefinedRoleReply" /></xsd:schema>